.App {
  text-align: center;
}

.nav {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin-left: 10px;
  font-size: 20px;
}

a.active{
  font-weight: bold;
  color: blueviolet;
}